.message {
    margin: 10px;
    padding: 10px;
    border: 1px solid #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.message span {
    font-weight: bold;
}

.message span:last-child {
    font-size: 10px;
    font-weight: bold;
}